body {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}