.App__pdf-parsing {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.App__pdf-parsing-left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 76%;
  height: 100%;
  background-color: #282828;
  overflow: hidden auto;

  h2.pdf-render-related { /* lazy */
    color: white;
    margin-top: 1rem;
  }

  .react-pdf__Document {
    margin-top: 2rem;
  }
}

.App__pdf-parsing-left-zone {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-weight: bold;
  color: white;

  &.temp {
    background-color: blue;
    opacity: 0.6;
  }

  .zone-inner-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
    background-color: blue;
    opacity: 0.6;
    padding: 1rem;
    font-size: 1.5rem;
  }

  button.delete-zone {
    position: absolute;
    top: -1rem;
    right: -1rem;
    background-color: red;
    color: white;
    cursor: pointer;
    z-index: 2;
    border: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
  }
}

.App__pdf-parsing-right {
  width: 24%;
  border-left: 1px solid #ccc;
  height: 100%;
  padding: 1rem;

  span button {
    font-size: 1rem;
    cursor: pointer;
  }

  h2:first-of-type {
    margin-bottom: 0.5rem;
  }

  h2:not(:first-of-type) {
    margin-top: 1.5rem;
  }

  .pdf-parsing-right__pdf-link { /* where my BEM intent falls through */
    cursor: pointer;
    font-size: 1rem;

    &:not(:first-of-type) {
      margin-top: 0.5rem;
    }
  }

  .pdf-parsing-right__parse-btn {
    margin-top: 1rem;
    cursor: pointer;
  }

  h2 {
    &.zone-header, &.pdfs-header {
      margin-bottom: 0.5rem;
    }
  }

  .zone-span p {
    margin-top: 1rem;
  }

  .zone-span input {
    font-size: 1rem;
    padding: 0.5rem;
  }
}